@model Evento

@{
    string UrlBucket = keysModel.BucketUrl;
}

<p>
    <a asp-controller="Eventos"
       asp-action="Index">Volver a Index</a>
</p>

<div class="card" style="width: 18rem;">
    <img src="@UrlBucket@Model.Imagen" class="card-img-top" alt="..." style="width:70px; height: 80px"/>
    <div class="card-body">
        <h5 class="card-title">@Model.Nombre</h5>
        <p class="card-text">@Model.Artista</p>
        <p class="card-text">@Model.IdCategoria</p>
    </div>
</div>
