@model List<Evento>

@{
    string UrlBucket = configuration.GetValue<string>("AWS:S3BucketUrl");
}

<p>
    <a asp-controller="Eventos"
       asp-action="Index">Volver a Index</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Artista</th>
            <th>IdCategoria</th>
            <th></th>
        </tr>
    </thead>
    @foreach(Evento e in Model)
    {
        <tbody>
            <tr>
                <td>
                    <img src="@UrlBucket@e.Imagen" class="card-img-top" alt="..." style="width:70px; height: 80px" />
                </td>
                <td>
                    @e.Nombre
                </td>
                <td>
                    @e.Artista
                </td>
                <td>
                    @e.IdCategoria
                </td>
                <td>
                    <a asp-asp-controller="Eventos" asp-action="Details" asp-route-id="@e.IdEvento" class="btn btn-outline-success">Details</a>
                </td>
            </tr>
        </tbody>
    }
</table>